#layout1 {
  border:10px solid red;
  height: 200px;
}

#layout1-a {
  border:10px solid skyblue;
  height: 90px;
}


#layout1-b {
  border:10px solid green;
  height: 90px;
}

#layout2 {
  border:10px solid yellow;
  height: 200px;
}

#layout3 {
  border:10px solid black;
  height: 200px;
}

#layout4 {
  border:10px solid blue;
  height: 200px;
}

#layout5 {
  border:10px solid MediumSeaGreen;
  height: 200px;
}

#layout6 {
  border:10px solid brown;
  height: 200px;
}

#layout7 {
  border:10px solid gold;
  height: 200px;
}

